project_id = "wntvimopezffjtcwnobb"

[api]
enabled = true
port = 54321
schemas = ["public", "storage", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
port = 54322

[db.pooler]
enabled = false
port = 54329
pool_mode = "transaction"
default_pool_size = 20
max_client_conn = 100

[realtime]
enabled = true
ip_version = "IPv4"

[studio]
enabled = true
port = 54323
api_url = "http://127.0.0.1:54321"

[inbucket]
enabled = true
port = 54324
smtp_port = 54326

[storage]
enabled = true
file_size_limit = "50MiB"

[storage.image_transformation]
enabled = true


[auth]
enabled = true

[edge_runtime]
policy = "per_worker"

[functions.documents-api]
verify_jwt = false

[functions.document-upload]
verify_jwt = true

[functions.create-offering]
verify_jwt = true

[functions.dev-dashboard]
verify_jwt = false

[functions.developer-api]
verify_jwt = true

[functions.feature-flag-manager]
verify_jwt = true

[functions.secure-pii-api]
verify_jwt = true

[functions.send-welcome-email]
verify_jwt = false

